body {
  background-color: rgba(0, 0, 0, 0.01);
  font-family: Montserrat !important;
  margin: 0;
}
.hide {
  display: none;
}
.flex {
  height: 100vh;
  width: 100vw;
  margin: 10px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  position: relative;
  margin: 10px;
  width: 264px;
  height: 410px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.card-front {
  height: inherit;
  width: inherit;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 0.5s opacity, box-shadow ease-in-out;
}
.name {
  position: relative;
  top: 74%;
  line-height: 1.5;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-size: 20px;
}
.extra-details {
  line-height: 1.4;
}
.extra-details > span {
  font-weight: 100;
  font-size: 14px;
  line-height: 1.4;
}
.card-back {
  text-align: center;
  height: inherit;
  width: inherit;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s opacity, box-shadow ease-in-out;
}
.content {
  padding: 84px 0 40px 0;
  margin: 0;
  text-align: center;
  color: #fff;
}
.username {
  font-size: 20px;
  font-weight: 900;
}
.githubDetails {
  padding: 20px 0;
  text-align: center;
}
.githubDetails > span {
  line-height: 1.6;
  padding: 5px 0;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
}
.know-more-btn {
  text-align: center;
  outline: 0;
  padding: 10px 30px;
  border-radius: 10px;
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: color, background 0.2s ease-in-out;
}
.know-more-btn > a {
  text-decoration: none;
  color: inherit;
}
.know-more-btn:hover {
  cursor: pointer;
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
  transition: color, background 0.2s ease-in-out;
}
.card:hover .card-front {
  opacity: 0;
  transition: 0.5s opacity, box-shadow ease-in-out;
}
.card:hover .card-back {
  opacity: 1;
  transition: 0.5s opacity, box-shadow ease-in-out;
}
.header {
  text-align: center;
  padding: 30px 0 10px 0;
}
.search-bar {
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: 0 0;
  outline: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
#craftybones > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/131062?v=4);
}
#vharidas > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/4221773?v=4);
}
#blpabhishek > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/15167308?v=4);
}
#reshmisaji > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44020004?v=4);
}
#keerthyeb > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44020061?v=4);
}
#swapnillothe > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44019530?v=4);
}
#rahulmadaan > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44020002?v=4);
}
#affishaikh > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44019928?v=4);
}
#arnabghs > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44019889?v=4);
}
#sapanaKale > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44019343?v=4);
}
#leelanakka > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44019459?v=4);
}
#mustakip > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/44019216?v=4);
}
#azimarif > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44020819?v=4);
}
#bsrushti > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/44019169?v=4);
}
#kukshalkanishka > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/37463477?v=4);
}
#srijayanth > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/36004266?v=4);
}
#durgaprasadd > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44020610?v=4);
}
#gayatrijagtap > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44019996?v=4);
}
#cksharma11 > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/22887527?v=4);
}
#dheeraj-p > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44019618?v=4);
}
#brain-eater > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/34330361?v=4);
}
#athulpram > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44019979?v=4);
}
#anupingale > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44020027?v=4);
}
#luckyganesh > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44020019?v=4);
}
#rishabghosh > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/44020133?v=4);
}
#luciferankon > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44019225?v=4);
}
#heerajoshi > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/44017701?v=4);
}
#vprince001 > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/16836599?v=4);
}
#deepikabartwal > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/44020585?v=4);
}
#swagatachakraborty > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44020073?v=4);
}
#moumitaguri > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44020214?v=4);
}
#tushartambe > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/44019295?v=4);
}
#sgauravk > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44020369?v=4);
}
#akankshakutal > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44019583?v=4);
}
#namankrs > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/44020825?v=4);
}
#maheshsovani > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44019471?v=4);
}
#sumandeepak8 > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/44019903?v=4);
}
#nooranasrin > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58026892?v=4);
}
#rey-vthi > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58027828?v=4);
}
#anil-muraleedharan > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/56071561?v=4);
}
#photongupta > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58028408?v=4);
}
#Neha-sanserwal > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/26194323?v=4);
}
#satheesh-chandran > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58027206?v=4);
}
#bugdriver > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/41767214?v=4);
}
#anujachaitanya > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58026823?v=4);
}
#apurvagurme > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58025903?v=4);
}
#drishya-dobriyal > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58027350?v=4);
}
#lazyhackerthani > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/32271882?v=4);
}
#bernie-walker > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58025656?v=4);
}
#sravani-labala > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58027100?v=4);
}
#symbiote-ux > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58027263?v=4);
}
#bsanthoshkumar > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58027436?v=4);
}
#naveen-kumar-vadla > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58026402?v=4);
}
#myultimatevision > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58025419?v=4);
}
#imvaishu > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58027647?v=4);
}
#desibabua > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/58028488?v=4);
}
#bcalm > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/58028680?v=4);
}
#shankarbyageli > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58026600?v=4);
}
#melodyni > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58027796?v=4);
}
#abhilashkasula > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58025056?v=4);
}
#dad-ka-raneesa > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58026896?v=4);
}
#shiviraj > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/58025059?v=4);
}
#cricket-lover > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58028287?v=4);
}
#palpriyanshu > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58025838?v=4);
}
#unphydra > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58026024?v=4);
}
#venkybavisetti > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars2.githubusercontent.com/u/58026249?v=4);
}
#rahitkar > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58026094?v=4);
}
#mildshower > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/58025792?v=4);
}
#gulsane > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/58028207?v=4);
}
#pssruthy > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars0.githubusercontent.com/u/58027046?v=4);
}
#trinangkur > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/58026183?v=4);
}
#armanaaquib > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars1.githubusercontent.com/u/44823431?v=4);
}
#sukhiboi > .card-front {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.7) 90%),
    url(https://avatars3.githubusercontent.com/u/40167376?v=4);
}
